@model RentCar.Models.contrato

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>contrato</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Licencia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Licencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Licencia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FK_Vehiculo, "FK_Vehiculo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.FK_Vehiculo, new SelectList(" "), "---Seleccione Vehiculo---", htmlAttributes: new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.FK_Vehiculo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idClase, "idClase", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("idClase", null, "---Seleccione La Clase de Vehiculo---", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idClase, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Combustible_Salida, "FK_Combustible", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Combustible_Salida, new SelectList(" "), "---Seleccione Combustible---", htmlAttributes: new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.Combustible_Salida, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Combustible_Entrada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Combustible_Entrada, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Combustible_Entrada, "", new { @class = "text-danger", disabled = "true" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kilometraje_Salida, "FK_kilometraje", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Kilometraje_Salida, new SelectList(" "), "---Seleccione Kilometraje---", htmlAttributes: new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.Kilometraje_Salida, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kilometraje_Entrada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kilometraje_Entrada, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Kilometraje_Entrada, "", new { @class = "text-danger", disabled = "true" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.costo_dia, "Costo_Día", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.costo_dia, new SelectList(" "), "---Costo Por Día---", htmlAttributes: new { @class = "form-control" })


            @Html.ValidationMessageFor(model => model.costo_dia, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cantidad_Dias, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cantidad_Dias, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cantidad_Dias, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.costo_diasextras, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.costo_diasextras, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.costo_diasextras, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Dias_Extras, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dias_Extras, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Dias_Extras, "", new { @class = "text-danger", disabled = "true" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descuento_Comision, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descuento_Comision, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descuento_Comision, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.subtotal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="number" name="subtotal" value="" id="subtotal" class="form-control" readonly />
            @Html.ValidationMessageFor(model => model.subtotal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="number" name="total" value="" id="Total" class="form-control" readonly />
            @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FormaPago, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="formapago" id="formapago" class="form-control">
                <option value="Tarjeta de credito">Tarjeta de credito</option>
                <option value="Efectivo">Efectivo</option>

            </select>
            @Html.ValidationMessageFor(model => model.FormaPago, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Contrato1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="contrato1" id="contrato1" class="form-control">
                <option value="Seguro con deducible">Seguro con deducible</option>
                <option value="Seguro incluido">Seguro incluido</option>
                <option value="Sin seguro incluido">Sin seguro incluido</option>
            </select>
            @Html.ValidationMessageFor(model => model.Contrato1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_Inicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="datetime-local" @Html.EditorFor(model => model.Fecha_Inicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha_Cierre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="datetime-local" @Html.EditorFor(model => model.Fecha_Cierre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fecha_Cierre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Condiciones, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Condiciones, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Condiciones, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Tipo_Renta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="tipo_renta" id="tipo_renta" class="form-control">
                <option value="Reserva">Reserva</option>
                <option value="Contrato">Contrato</option>
            </select>
            @Html.ValidationMessageFor(model => model.Tipo_Renta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        $("#idClase").change(function () {
            $.post("GetFk_Vehiculo", { VehiculoId: $("#idClase").val() }, function (data) {
                $("#FK_Vehiculo").empty();
                $("#FK_Vehiculo").append("<option value= '" + 0 + "'>" + '---Seleccione Vehiculo---' + "</option>")

                $.each(data, function (create, row) {
                    $("#FK_Vehiculo").append("<option value= '" + row.VehiculoId + "'>" + row.Marca + "</option>")
                });
            });
        })
    });

    $(document).ready(function () {
        $("#FK_Vehiculo").change(function () {
            $.post("GetFk_Kilmetraje", { VehiculoId: $("#FK_Vehiculo").val() }, function (data) {
                $("#Kilometraje_Salida").empty();
                $.each(data, function (create, row) {

                    $("#Kilometraje_Salida").append("<option value= '" + row.Kilometraje + "'>" + row.Kilometraje + "</option>")
                });
            });
        })
    });

    $(document).ready(function () {
        $("#FK_Vehiculo").change(function () {
            $.post("GetFk_Costodia", { VehiculoId: $("#FK_Vehiculo").val() }, function (data) {
                $("#costo_dia").empty();
                $.each(data, function (create, row) {

                    $("#costo_dia").append("<option value= '" + row.Tarifa + "'>" + row.Tarifa + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#FK_Vehiculo").change(function () {
            $.post("GetFk_Combustible", { VehiculoId: $("#FK_Vehiculo").val() }, function (data) {
                $("#Combustible_Salida").empty();
                $.each(data, function (create, row) {

                    $("#Combustible_Salida").append("<option value= '" + row.Combustible + "'>" + row.Combustible + "</option>")
                });
            });
        })
    });
    $(document).ready(function () {
        $("#Cantidad_Dias").focusout(function () {
            var m = document.getElementById("costo_dia").value;
            var s = document.getElementById("Cantidad_Dias").value;
            if (s == 0 || m==0) {
                document.getElementById("subtotal").value = 0;
            } else {
                var t = parseInt(m) * parseInt(s);
                document.getElementById("subtotal").value = t;
            }
            
        })
    });
    $(document).ready(function () {
        $("#costo_dia").focusout(function () {
            var m = document.getElementById("costo_dia").value;
            var s = document.getElementById("Cantidad_Dias").value;
            if (s == 0 || m==0) {
                document.getElementById("subtotal").value = 0;
            } else {
                var t = parseInt(m) * parseInt(s);
                document.getElementById("subtotal").value = t;
            }

        })
    });
    $(document).ready(function () {
        $("#Descuento_Comision").focusout(function () {
            var m = document.getElementById("Descuento_Comision").value;
            var s = document.getElementById("subtotal").value;
            if (m == 0) {
                document.getElementById("subtotal").value = s;
            } else {
                var t = parseInt(s) - parseInt(m);
                document.getElementById("subtotal").value = t;
            }

        })
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
