@model IEnumerable<RentCar.Models.NFC>

@{
    ViewBag.Title = "Index";
}

<h2>NFC'S</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr class="thead-dark">
        <th>
            @Html.DisplayNameFor(model => model.NFC1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NFC1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.idNFC }, new { @class = "btn btn-danger" } )
        </td>
    </tr>
}

</table>
